# Start working with current issue

The issue should already be explained in a markdown file in `{{ issueflows_dir }}/{{ current_issues_folder }}`.

## Input
If additional input is added, use that for further detailed guidance

## Steps

0. If the issue markdown file is not present, or it is ambiguous which one to select, ask.

1. Plan. If not in plan mode, stop and ask for a confirmation.

2. Check that the plan is not too broad. If too broad, ask if it should be split into several parts.

3. Implement the steps of the plan
